# Go
bin/
*.exe
*.test
*.out
*.mod
*.sum
vendor/

# node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# VS Code
.vscode/

# macOS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea/
# Coverage reports
coverage/
coverage*.json
coverage*.lcov
coverage.out
coverage.html